<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageAccount" value=""/>
    <add key="StorageKey" value=""/>
    <add key="Extensions" value=".css,.js,.jpg,.png"/>
    <add key="Simulate" value="false"/>
    <add key="Containers" value=""/>
    <add key="MaxAgeSeconds" value="2592000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>